

div{
    width: 100vw;
    height: auto;
}


.principal {
    display: flex;
}

.Container{
    display: flex;
    flex-direction: row;
    width: 10rem;
    height: auto;
    padding: 0;
    margin-left: 20%;
}
.Comillas{
    padding: 0;
    margin: -50px 0;
    color: #ED447B;
    position: relative;
}

.slogan {
    margin: 0;
    color: #B6B5B3;
    font-weight: 600;
    font-size: 1.7rem;
    margin-left: 10px;
}
